
.container{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    font-family: 'Raleway';
    

}

.nav {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;    
}

.start {
    display: flex;
    width: 70%;
    flex:1;
    justify-content: flex-start;
    
}

.end {

    display: flex;
    width: 30%;
    flex: 1;
    text-align: right;
    justify-content: flex-end;
}

.more {
    align-self: center;
    margin-right: 70px;
}

.logo {
    align-self: center;
}

.item {
    align-self: center;
}

.fb, .twitter,.instagram,.linkedin,.service, .contact {
    margin: 10px;
}

.contact{
    margin-right: 70px;
}

.content{
    font-weight: 100;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.left {
    width: 63%;
    height: 90%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
}

.a {
    align-self: flex-end;
    font-size: 72px;
    width: 90%;
    margin-bottom: 5%;
}

.b{
    align-self: flex-end;
    font-size: 36px;
    width: 90%;
    margin: 0%;
}

.c {
    font-size: 28px;
    font-weight: 500;
    align-self: flex-end;
    width: 90%;
    margin-top: 5%;
    color: rgb(2,151,236);
}

.right {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.slider {
    width: 30%;
    justify-items: center;
    align-items: center;
}

.mySlides {
    width: 100%;
    height: 70%;
    align-items: right; 
}

.slider2 {
    max-width: 100%;
    height: 10%;
    color: white;
    background-color: black;
    margin: 0px;
    text-align: center;
    justify-self: center;
}

.mySlides2 {
    width: 100%;
    height: 10%;
    text-align: center;
    align-self: center;
    justify-self: center;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: rgb(0,204,102, 0.6);
}

.menu_bar {
    width: 70%;
    margin-left: 55px;
}

.arrow1{
    width: 10%;
}

.left_about {
    background-color: black;
    width: 45%;
    height: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right_about {
    width: 45%;
    margin-right: 5%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
}

.about_h1 {
    align-self: flex-end;
    width: 77%;
    font-size: 2.5em;
    font-weight: 400;
    margin-top: 30%;
}

.about_img {
    margin-right: 3%; 
    height: 85%;   
    align-self: center;
}

.about_p {
    justify-self: flex-end;
    width: 80%; 
    font-size: .875em;   
}

.values {
    background-color: rgb(237,237,237, 0.3);
    height: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.values h2 {
    font-size: 1.75em;
}

.values_img {
    height: 40%;
    width: 30%;
    margin-right: 10%;
}

.process {
    background-color: rgb(0,204,102,0.6);
    height:34%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.process h2 {
    font-size: 1.75em;
}

.process_img {
    height: 40%;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
}

.better {
    background-color: rgb(237,237,237, 0.4);
    height: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.better h2 {
    font-size: 1.75em;
}

.better_img {
    height: 40%;
    width: 30%;
    margin-left: 10%;
}

.main{
    font-weight: 100;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.height {
    height: 80%;
    margin-top: 1%;
}

.services_top {
    height: 50%;
    margin-right: 7%;
    margin-left: 6%;
    display: flex;
    flex-direction: row;
}

.services_bottom {
    height: 50%;
    margin-right: 7%;
    margin-left: 6%;
    display: flex;
    flex-direction: row;
}

.our_services {
    background-color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.our_services h1 {
    color: rgb(103,193,244);
    width: 80%;
    margin-top: 10%;
    font-size: 2.5em;
}

.services {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
}

.services p {
    margin-left: 2%;
    color: white;
    font-size: .875em;
    font-weight: 300;
}

.science {
    background-color: rgb(102,224,163);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:0%;
}

.science h2 {
    color: rgb(2,113,177);
    font-size: 1.75em;
    width: 90%;
    margin-top: 20%;
    margin-bottom: 0%;
}

.science p {
    color: black;
    font-weight: 700;
    width: 95%;
    font-size: .75em;
    margin:0;
}

.science img {
    align-self: flex-end;
    margin-top: 5%;
    width: 215px;
    height: 145px;
}

.engineering {
    background-color: rgb(251,251,251);
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.engineering img {
    align-self: flex-end;
    width: 200px;
    height: 135px;
    margin-bottom: 15%;
}

.engineering h2 {
    color: rgb(2,113,177);
    font-size: 1.75em;
    margin: 0;
    align-self: flex-end;
    width: 95%;
}

.engineering p {
    font-size: .75em;
    font-weight: 700;
    margin: 0;
    width: 90%;
    align-self: center;
}

.analytics {
    background-color: rgb(252,252,252);
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.analytics img {
    width: 220px;
    height: 145px;
    margin-left: 10%;
    margin-bottom: 15%;
}

.analytics h2 {
    color: rgb(2,113,177);
    font-size: 1.75em;
    margin: 0;
    width: 70%;
    align-self: flex-end;
}

.analytics p {
    font-size: .75em;
    font-weight: 700;
    margin: 0;
    width: 70%;
    align-self: flex-end;
}

.engines {
    background-color: rgb(212,212,212);
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
}

.engines h2 {
    font-size: 1.75em;
    color: rgb(2,113,177);
    margin: 0;
    width: 90%;
    align-self: center;
}

.engines p {
    font-size: .75em;
    font-weight: 700;
    margin:0;
    width: 90%;
    align-self: center;
}

.engines img {
    width: 100%;
    height: 110px;
    margin-top:10%;
}

.intelligence {
    background-color: rgb(102,224,163);
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0%;
}

.intelligence img {
    width: 265px;
    height: 175px;
    margin-bottom: 10%;
}

.intelligence h2 {
    font-size: 1.75em;
    color: rgb(2,113,177);
    margin: 0%;
    width: 70%;
    align-self: center;
}

.intelligence p {
    font-size: .75em;
    font-weight: 700;
    margin: 0%;
    width: 70%;
    align-self: center;
}

.main_intelligence {
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 100vw;

}

.intelligence_left {
    background-color: black;
    width:45%;
    height: 90%;
}

.intelligence_right {
    background-color: rgb(212,212,212);
    width:45%;
    height:90%;
}