/* Home page starts here */
body {
    overflow-y: hidden;
    zoom: 95%;
    background:rgb(238,238,238);
}
.container{
    width: 100vw;
    min-height: 100vh;
    margin: auto;
    font-family: 'Raleway';
    overflow: hidden;
}

.nav {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.start {
    display: flex;
    justify-content: flex-start;
    margin: 0 4%;
}

.end {

    display: flex;
    /* width: 30%; */
    /* flex: 1; */
    text-align: right;
    margin: 0 2%;
}

.more {
    align-self: center;
    margin-right: 70px;
}

.logo {
    align-self: center;
}

.item {
    align-self: center;
}

.fb, .twitter,.instagram,.linkedin, .contact {
    margin: 10px;
}

.service {
    margin: 10px;
    color: rgb(21,20,20);
}

.contact{
    margin-right: 70px;
    color: rgb(21,20,20);
    font-weight: 500;
}

.height {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:100vw;
    margin: 0%;
    align-content: center;
    overflow: hidden;
}

.content{
    font-weight: 100;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.left {
    width: 63%;
    height: 100%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    margin-left: 5%;
}

.a {
    align-self: flex-end;
    font-size: 72px;
    width: 90%;
    margin-bottom: 5%;
}

.b{
    align-self: flex-end;
    font-size: 36px;
    width: 90%;
    margin: 0%;
}

.c {
    font-size: 28px;
    font-weight: 600;
    align-self: flex-end;
    width: 90%;
    margin-top: 5%;
    color: rgb(2,151,236);
}

.left img {
    margin-left: 3%;
    height: 50%;
    width: 10%;
}

.right {
    width: auto;
    height:90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(220,220,220);
    margin-right: 7%; 
}

.mySlides {
    height: 90%
}

.sliderItem {
    height: 100%;
}
.sliderImage {
    height: 85%;
    width: auto;
}

.sliderDescription {
    width: 100%;
    height:15%;
    color: black;
    background-color: rgb(220,220,220);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-self: flex-end; */
    height: 10%;
    padding: 0;
    width: 100%;
    background-color: black;
}

.menu_bar {
    width: 70%;
    margin-left: 55px;
}

.work_btn {
    justify-self: flex-start;
    width: 100%;
    text-align: left;
    margin-right: 40%;
    color: white;
    font-weight: 500;
}

.arrow1{
    width: 10%;
    margin-right: 5%;
}

.arrow2 {
    margin-right: 5%;
}

/* About page starts here */
.content_about{
    font-weight: 100;
    display: flex;
    flex-direction: row;
    height: 80%;
    /* margin-top: 2%; */
    padding: 0%;
    margin-bottom: 0%;
}

.left_about {
    background-color: black;
    width: 45%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right_about {
    width: 45%;
    margin-right: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
}

a {
    text-decoration: none;
}

.about_h1 {
    align-self: flex-end;
    width: 77%;
    font-size: 2.5em;
    font-weight: 400;
    margin-top: 30%;
}

.about_img {
    margin-right: 3%;
    height: 85%;
    align-self: center;
}

.about_p {
    justify-self: flex-end;
    width: 80%;
    font-size: 1em;
}

.values {
    background-color: rgb(237,237,237, 0.3);
    height: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.values h2 {
    font-size: 1.75em;
}

.values_img {
    height: 40%;
    width: 30%;
    margin-right: 10%;
}

.process {
    background-color: rgb(0,204,102,0.6);
    height:34%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.process h2 {
    font-size: 1.75em;
}

.process_img {
    height: 40%;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
}

.better {
    background-color: rgb(237,237,237, 0.4);
    height: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.better h2 {
    font-size: 1.75em;
}

.better_img {
    height: 40%;
    width: 30%;
    margin-left: 10%;
}

/*Services Page starts here */

.main{
    font-weight: 100;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.content_services {
    margin-top: 2%;
    height: 80%;
}

.services_top {
    height: 50%;
    margin-right: 7%;
    margin-left: 6%;
    display: flex;
    flex-direction: row;
}

.services_bottom {
    height: 50%;
    margin-right: 7%;
    margin-left: 6%;
    display: flex;
    flex-direction: row;
}

.our_services {
    background-color:rgb(43,43,42);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.our_services h1 {
    color: rgb(103,193,244);
    width: 80%;
    margin-top: 10%;
    font-size: 2.5em;
}

.services {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    color: white;
}

.services p {
    margin-left: 2%;
    color: white;
    font-size: .875em;
    font-weight: 300;
}

.science {
    background-color: rgb(220,220,220);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:0%;
}

.science h2 {
    color: rgb(21,20,20);
    font-size: 1.75em;
    width: 100%;
    margin-top: 20%;
    margin-left: 5%;
    margin-bottom: 0%;
    font-weight: 800;
}

.science p {
    color:rgb(21,20,20);
    font-weight: 700;
    width: 85%;
    font-size: .75em;
    margin-left:3%;
}

.science img {
    align-self: flex-end;
    margin-top: 5%;
    width: 215px;
    height: 145px;
}

.engineering {
    background-color: rgb(245,245,245);
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.engineering img {
    align-self: flex-end;
    width: 200px;
    height: 135px;
    margin-bottom: 15%;
}

.engineering h2 {
    color: rgb(21,20,20);
    font-size: 1.75em;
    margin:0;
    align-self: flex-end;
    width: 100%;
    padding-left: 7%;
}

.engineering p {
    font-size: .75em;
    font-weight: 700;
    margin: 0;
    width: 85%;
    align-self: center;
    color: rgb(21,20,20);
}

.analytics {
    background-color: rgb(220,220,220);
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.analytics img {
    width: 220px;
    height: 145px;
    margin-left: 10%;
    margin-bottom: 15%;
}

.analytics h2 {
    color: rgb(21,20,20);
    font-size: 1.75em;
    margin-top: -10%;
    margin-bottom: -10%;
    padding-left: 30%;
    width: 100%;
    align-self: flex-end;
}

.analytics p {
    font-size: .75em;
    font-weight: 700;
    margin-top: -2%;
    width: 70%;
    align-self: flex-end;
    color: rgb(21,20,20);
}

.engines {
    background-color: rgb(245,245,245);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
}

.engines h2 {
    font-size: 1.75em;
    color: rgb(21,20,20);
    margin: 0;
    width: 100%;
    align-self: center;
    text-align: center;
}

.engines p {
    font-size: .75em;
    font-weight: 700;
    margin-left: 4%;
    width: 85%;
    align-self: center;
    color: rgb(21,20,20);
}

.engines img {
    width: 100%;
    height: 110px;
    margin-top:10%;
}


.intelligence {
    background-color: rgb(220,220,220);
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: 0%;
}

.intelligence img {
    width: 265px;
    height: 175px;
    margin-bottom: 10%;
}

.intelligence h2 {
    font-size: 1.75em;
    color: rgb(21,20,20);
    margin: 0%;
    width: 100%;
    padding-left: 10%;
    align-self: center;
    margin-top: -5%;
}

.intelligence p {
    font-size: .75em;
    font-weight: 700;
    margin: 0%;
    width: 80%;
    align-self: center;
    color: rgb(21,20,20);
}

/* Intelligence page starts here*/

.main_intelligence {
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80%;
}

.intelligence_left {
    background-color: black;
    width:45%;
    height: 100%;
}

.intelligence_imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.intelligence_imgs_img {
    width: 270px;
    height: 200px;
    margin-top: 6%;
    margin-left: 2%;
    margin-right: 2%;
}

.arrow_left img {
    margin-top:50px;
    width:100%;
    height: 100%;
}

.arrow_right img {
    margin-top: 50px;
    width:100%;
    height: 100%;

}

.intelligence_content {
    display: flex;
    flex-direction: column;
}

.intelligence_content h1 {
    color: rgb(103,193,244);
    margin-top: 20%;
    margin-left: 5%;
}

.intelligence_about {
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: 400;
}

.intelligence_about img {
    size: 100%;
    margin-left: 5%;
}

.intelligence_about p {
    margin-left: 2%;
}

.intelligence_right {
    background-color: rgb(212,212,212);
    width:45%;
    height:100%;
    display: flex;
    flex-direction: row;
}

.intelligence_right_content {
    font-weight: 400;
    font-size: 1.2em;
    width:70%;
    margin-top: 5%;
    justify-content: space-between;
}

.list {
    margin-left: 10%;
    margin-right: 2%;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(0,204,102,0.6);
}

.intelligence_right_img {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: flex-end;
    justify-self: flex-end;
}

.intelligence_right_img img {
    display: flex;
    width: 200px;
    height: 220px;
    margin-top: 15%;
}

.services_btn {
    justify-self: flex-start;
    width: 100%;
    text-align: left;
    margin-right: 50%;
    margin-left: -5%;
    color: white;
    font-weight: 500;
}

/* our work page starts here */

.work {
    background-color: rgb(220,220,220);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.work a {
    width: 100%;
}

.work h2 {
    color: rgb(21,20,20);
    font-size: 1.75em;
    width: 90%;
    margin-top: 20%;
    margin-bottom: 0%;
    margin-left: 3%;
}

.work p {
    color: black;
    font-weight: 700;
    width: 95%;
    font-size: .75em;
    margin:0;
    margin-bottom: 15%;
    margin-left: 3%;
}

.work2 a {
    width: 100%;
}

.work2 {
    background-color: rgb(245,245,245);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.work2 h2 {
    color: rgb(21,20,20);
    font-size: 1.75em;
    margin: 0;
    align-self: flex-end;
    width: 95%;
    margin-left: 5%;
}

.work2 p {
    font-size: .75em;
    font-weight: 700;
    margin: 0;
    width: 90%;
    align-self: center;
    margin-bottom: 15%;
}

.work3 a {
    width: 100%;
}

.work3 {
    background-color: rgb(220,220,220);
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.work3 h2 {
    color: rgb(21,20,20);
    font-size: 1.75em;
    margin: 0;
    width: 70%;
    margin-left: 3%;
}

.work3 p {
    font-size: .75em;
    font-weight: 700;
    width: 70%;
    margin-top: 0;
    margin-bottom: 10%;
    margin-left: 3%;
}

.work4 a {
    width: 100%;
}

.work4 {
    background-color: rgb(240,240,240);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.work4 h2 {
    font-size: 1.75em;
    color: rgb(21,20,20);
    width: 90%;
    margin-bottom: 0;
    margin-left: 3%;
}

.work4 p {
    font-size: .75em;
    font-weight: 700;
    width: 90%;
    margin-top: 0;
    margin-bottom: 15%;
    margin-left: 3%;
}

.work5 a {
    width: 100%;
}

.work5 {
    background-color: rgb(220,220,220);
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.work5 h2 {
    font-size: 1.75em;
    color: rgb(21,20,20);
    width: 70%;
    margin-bottom: 0;
    margin-left: 3%;
}

.work5 p {
    font-size: .75em;
    font-weight: 700;
    width: 70%;
    margin-top: 0;
    margin-bottom: 10%;
    margin-left: 3%;
}

/* better page under about:- about_better */

.menu_better {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-self: flex-end; */
    height: 10%;
    padding: 0;
    width: 35%;
    background-color: rgb(24,180,137);
    align-self: flex-end;
    margin-right: 5%;
}

.content_better {
    margin-top: 0%;
    height: 80%;
    width: 100vw;
}

.better_top {
    height: 50%;
    margin-right: 5%;
    margin-left: 9%;
    display: flex;
    flex-direction: row;
}

.better_bottom {
    height: 50%;
    margin-right: 5%;
    margin-left: 9%;
    display: flex;
    flex-direction: row;
}

.better_services {
    background-color: black;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.better_services h1 {
    color: rgb(103,193,244);
    width: 80%;
    margin-top: 10%;
    font-size: 2.5em;
}

.better1 {
    background-color: rgb(250,250,250);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.better1 h2 {
    color: rgb(2,113,177);
    font-size: 1.75em;
    align-self: flex-end;
    width: 95%;
    padding: 0%;
    margin-top: 20%;
    margin-bottom: 0%;
}

.better1 p {
    font-size: .75em;
    font-weight: 700;
    width: 90%;
    margin: 0%;
    align-self: center;
    margin-bottom: 15%;
    margin-top: 0%;
    padding: 0%;

}

.better1 img {
    align-self: flex-end;
    margin-right: 5%;
}

.better2 {
    background-color: rgb(240,240,240);
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.better2 h2 {
    color: rgb(2,113,177);
    font-size: 1.75em;
    margin-bottom: 0;
    width: 70%;
    margin-top: 15%;
    margin-left: 10%;}

.better2 p {
    font-size: .75em;
    font-weight: 700;
    width: 70%;
    margin-top: 0;
    margin-left: 10%;
    margin-bottom: 10%;
}

.better2 img {
    align-self: flex-end;
    margin-right: 5%;
}

.better3 {
    background-color: rgb(207,207,207);
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.better3 h2 {
    font-size: 1.75em;
    color: rgb(2,113,177);
    width: 90%;
    margin-bottom: 0;
    margin-top: 20%;
    margin-left: 10%;
}

.better3 p {
    font-size: .75em;
    font-weight: 700;
    width: 90%;
    margin-top: 0;
    margin-bottom: 15%;
    margin-left: 10%;
}

.better3 img {
    align-self: flex-end;
    margin-right: 5%;
}

.better4 {
    background-color: rgb(240,240,240);
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.better4 h2 {
    font-size: 1.75em;
    color: rgb(2,113,177);
    width: 70%;
    margin-bottom: 0;
    margin-top: 12%;
    margin-left: 10%;
}

.better4 p {
    font-size: .75em;
    font-weight: 700;
    width: 70%;
    margin-top: 0;
    margin-bottom: 10%;
    margin-left: 10%;
}

.better4 img {
    align-self: flex-end;
    margin-right: 5%;
}

.menu {
    width: 0%;
    margin-left: 55px;  
}

.menu_better1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-self: flex-end; */
    height: 10%;
    padding: 0;
    width: 33.5%;
    background-color: rgb(24,180,137);
    align-self: flex-end;
    margin-right: 5%;
    margin-top: 0%;  
}

.menu_better1 .services_btn {
    margin-left: -3%;
    width: 100%;
    margin-right: 45%;
}

/*Our values page */

.content_values{
    font-weight: 100;
    display: flex;
    flex-direction: row;
    height: 80%;
    padding: 0%;
    margin-bottom: 0;
}

.left_values {
    background-color: black;
    width: 45%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.right_values {
    width: 45%;
    margin-right: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.transparency {
    display: flex;
    flex-direction: row;
    background-color: rgb(245,245,245);
    height: 33%;
    align-items: center;
    justify-content: center;
}

.transparency_img {
    width: 30%;

}

.transparency_size {
    width: 70%;
    justify-self: flex-end;

}

.transparency h2{
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0;
    color: rgb(103,193,244);
}

.transparency p {
    width: 100%;
    margin-top: 0;
    font-weight: 400;
}

.transparency img {
    width: 145px;
    height: 70px;
    align-self: center;
    margin-left: 5%;
}

.inclusion {
    display: flex;
    flex-direction: row;
    background-color: rgb(226,226,226);
    height: 34%;
    align-items: center;
    justify-content: center;
}

.inclusion_img {
    width: 30%;
}

.inclusion_size{
    width: 70%;
}

.inclusion img {
    width: 145px;
    height: 70px;
    align-self: center;
    margin-left: 5%;
}

.inclusion h2 {
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0;
    color: rgb(103,193,244);
    margin-bottom: 0;
}

.inclusion p {
    width: 100%;
    margin-top: 0;
    font-weight: 400;
}

.learning {
    display: flex;
    flex-direction: row;
    background-color: rgb(245,245,245);
    height: 33%;
    align-items: center;
    justify-content: center;
}

.learning_img{
    width: 30%;
}

.learning_size {
    width: 70%;
}

.learning img {
    width: 145px;
    height: 70px;
    align-self: center;
    margin-left: 5%;
}

.learning h2 {
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0;
    color: rgb(103,193,244);
    margin-bottom: 0;
}

.learning p {
    width: 100%;
    margin-top: 0;
    font-weight: 400;
}

.menu_about {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-self: flex-end; */
    height: 10%;
    padding: 0;
    width: 45%;
    background-color: rgb(24,180,137);
    align-self: flex-end;
    margin-right: 5%;
    margin-top: 0%;
}

/* Inside the work page */


.black_left {
    margin-right: 10px;
    z-index: 1;
    justify-self: center;
}
.work_img {
    margin-left: -25px;
    margin-bottom: 5px;
    width: 70px;
    height: 70px;
    z-index: -1;
}
.black_right{
    z-index: 1;
    margin-left: -15px;
    justify-self: center;
}

.work_left {
    display: flex;
    background-color: black;
    z-index: -1;
    width:50%;
    margin-left: 10%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.work_size {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.work_right {
    background-color: rgb(245,245,245);
    width:30%;
    margin-right: 5%;
    height:100%;
    display: flex;
    flex-direction: column;
}

.work_right_content {
    font-weight: 400;
    width:80%;
    height:80%;
    margin-top: 5%;
    margin-left: 10%;
    justify-content: space-between;
}

.work_right_content h1 {
    font-size: 2.5em;
}

.work_right_content h2 {
    margin-top: 0;
    font-size: 1.75em;
    color: rgb(2,151,236);
}

.work_right_content p {
    font-size: 1em;
}

.website {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.website1 {
    width: 40%;
}

.website1 h3 {
    font-size: 1.1em;
    font-weight: 400;
}

.work_right_kind {
    background-color: rgb(220,220,220);
    display: flex;
    height:20%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.work_right_kind h2 {
    margin-left: 10%;
    font-size: 1.1em;
    color:black;
}

.menu_work {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-self: flex-end; */
    height: 10%;
    padding: 0;
    width: 30%;
    background-color: rgb(0,0,0);
    align-self: flex-end;
    margin-right: 7.5%;
    margin-top: 0%; 
}

.work_btn1 {
    justify-self: flex-start;
    width: 100%;
    text-align: left;
    margin-right: 30%;
    color:white;
    font-weight: 500;
    margin-left: -10%;
}

/* Contact Us Page */

.contact_main {
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90%;
    margin-left: 10%;
    margin-right: 2%;

}

.contact_left {
    width:45%;
    height: 90%;
    margin-top: 0%;
    padding: 0%;
}


.contact_upper {
    display: flex;
    flex-direction: column;
    height: 30%;
    padding: 0%;
    justify-content: flex-end;
}

.contact_upper h1 {
    height: 30%;
    margin: 0%;
}

.contact_upper h2 {
    height: 20%;
    margin: 0%;
    color: rgb(2,151,236);;

}

.contact_lower {
    height: 71%;
}

form {
    font-size: 1em;
    font-weight: 550;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 1em;
    width: 80%;
    border-bottom: 2px solid black;
}

.submit_btn {
    border: black;
    background-color: black;
    color: white;
    height: 45px;
    width: 90px;
    margin-left: 63%;
}

.contact_right {
    background-color: rgb(212,212,212);
    width:40%;
    height:90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 5%;
}

.contact_right h2 {
    margin-top: 30%;
    text-align: center;
}

.beverage1 {
    width: 100px;
    height: 100px;
    margin-right: 5%;
    margin-top: 7%;
}

.beverage2 {
    width: 100px;
    height: 100px;
    margin-left: 5%;
    margin-top: 7%;
}

.beverage_top {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;

}

.beverage_bottom {
    display: flex;
    flex-direction: row;
    align-self: center;
}

/*  */